#button-container {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 1em;
    font-size: 2em;
}

button:hover {
    cursor: pointer;
}

#dice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.die {
    text-align: center;
    font-size: 10em;
    margin: auto;
}

.die:hover {
    cursor: pointer;
}